# FLIP ROBO TECHNOLOGIES

# NAME: BIJAY PAREEK

# BATCH: DS2308


# Third-Phase-Practice-Projects--1-


# Glass Identification

# Project Description:

The dataset describes the chemical properties of glass and involves classifying samples of glass using their chemical properties as one of six classes. The dataset was credited to Vina Spiehler in 1987. The study of classification of types of glass was motivated by criminological investigation. At the scene of the crime, the glass left can be used as evidence...if it is correctly identified!

The chemical compositions are measured as the weight percent in corresponding oxide.

# Attribute Information-
1.	 Id number: 1 to 214

2.	 RI: refractive index

3.	Na: Sodium (unit measurement: weight percent in corresponding oxide, as are attributes 4-10)

4.	Mg: Magnesium

5.	Al: Aluminum

6.	Si: Silicon

7.	K: Potassium

8.	Ca: Calcium

9.	Ba: Barium

10.	Fe: Iron

# 11.	Type of glass: (class attribute)
•	1- building_windows_float_processed

•	2- building_windows_non_float_processed

•	3- vehicle_windows_float_processed

•	4- vehicle_windows_non_float_processed (none in this database)

•	5- containers

•	6- tableware

•	7- headlamps

# There are 214 observations in the dataset. The dataset can be divided into window glass (classes 1-4) and non-window glass (classes 5-7). 

# Predict : Type of glass

# IMPORT NECESSARY LIBARY:

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import GridSearchCV

# LOADING THE DATASET:

In [3]:
df = pd.read_csv(r"C:/Users/raj/Downloads/glass (1).csv")
df

       1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.00.1  1.1
0      2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00    0.00    1
1      3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00    0.00    1
2      4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00    0.00    1
3      5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00    0.00    1
4      6  1.51596  12.79  3.61  1.62  72.97  0.64  8.07  0.00    0.26    1
..   ...      ...    ...   ...   ...    ...   ...   ...   ...     ...  ...
208  210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06    0.00    7
209  211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59    0.00    7
210  212  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64    0.00    7
211  213  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57    0.00    7
212  214  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67    0.00    7

[213 rows x 11 columns]

       1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.00.1  1.1
0      2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00    0.00    1
1      3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00    0.00    1
2      4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00    0.00    1
3      5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00    0.00    1
4      6  1.51596  12.79  3.61  1.62  72.97  0.64  8.07  0.00    0.26    1
..   ...      ...    ...   ...   ...    ...   ...   ...   ...     ...  ...
208  210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06    0.00    7
209  211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59    0.00    7
210  212  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64    0.00    7
211  213  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57    0.00    7
212  214  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67    0.00    7

[213 rows x 11 columns]

# NOTE: In this projects the column names/headers are not present in the dataset so I  have  enter the columns name in the Dataframe  the names of the columns are in the same order as given in the project description

In [4]:
column_names = ['Id', 'RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe', 'Type']
df2 = pd.read_csv(r"C:/Users/raj/Downloads/glass (1).csv", header=None, names=column_names)
df2

      Id       RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0      1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1      2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2      3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3      4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4      5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..   ...      ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209  210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
210  211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
211  212  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
212  213  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
213  214  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 11 columns]

      Id       RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0      1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1      2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2      3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3      4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4      5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..   ...      ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209  210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
210  211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
211  212  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
212  213  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
213  214  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 11 columns]

# NOW WE ARE GOING TO SEE  THE FIRST FEW ROWS OF DATASET:

In [5]:
df2.head()

   Id       RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0   1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1   2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2   3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3   4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4   5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

   Id       RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0   1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1   2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2   3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3   4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4   5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

# checking for missing values:

In [6]:
print(df2.isnull().sum())

Id      0
RI      0
Na      0
Mg      0
Al      0
Si      0
K       0
Ca      0
Ba      0
Fe      0
Type    0
dtype: int64
Id      0
RI      0
Na      0
Mg      0
Al      0
Si      0
K       0
Ca      0
Ba      0
Fe      0
Type    0
dtype: int64

# NOTE : we can see there is no missing value we can go further for analysis the dataset

# SPLIT THE DATA INTO FEATURES(X) AND TARGET VARIABLE(Y)

In [8]:
X = df2.drop('Type',axis=1)
y = df2['Type']

In [9]:
X

      Id       RI     Na    Mg    Al     Si     K    Ca    Ba   Fe
0      1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0
1      2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0
2      3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0
3      4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0
4      5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0
..   ...      ...    ...   ...   ...    ...   ...   ...   ...  ...
209  210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0
210  211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0
211  212  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0
212  213  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0
213  214  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0

[214 rows x 10 columns]

      Id       RI     Na    Mg    Al     Si     K    Ca    Ba   Fe
0      1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0
1      2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0
2      3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0
3      4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0
4      5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0
..   ...      ...    ...   ...   ...    ...   ...   ...   ...  ...
209  210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0
210  211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0
211  212  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0
212  213  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0
213  214  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0

[214 rows x 10 columns]

In [10]:
y

0      1
1      1
2      1
3      1
4      1
      ..
209    7
210    7
211    7
212    7
213    7
Name: Type, Length: 214, dtype: int64

0      1
1      1
2      1
3      1
4      1
      ..
209    7
210    7
211    7
212    7
213    7
Name: Type, Length: 214, dtype: int64

# Split the data into training and testing sets:

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Handle missing values:

In [12]:
imputer = SimpleImputer(strategy='mean')
X_train_imputed = imputer.fit_transform(X_train)
X_test_imputed = imputer.transform(X_test)

In [13]:
X_train_imputed

array([[8.00000e+01, 1.51590e+00, 1.28200e+01, ..., 7.97000e+00,
        0.00000e+00, 0.00000e+00],
       [1.62000e+02, 1.51934e+00, 1.36400e+01, ..., 8.89000e+00,
        1.50000e-01, 2.40000e-01],
       [1.10000e+02, 1.51818e+00, 1.37200e+01, ..., 1.09900e+01,
        0.00000e+00, 0.00000e+00],
       ...,
       [9.30000e+01, 1.51588e+00, 1.31200e+01, ..., 8.39000e+00,
        0.00000e+00, 1.90000e-01],
       [1.80000e+02, 1.51852e+00, 1.40900e+01, ..., 9.32000e+00,
        0.00000e+00, 0.00000e+00],
       [1.03000e+02, 1.51820e+00, 1.26200e+01, ..., 9.42000e+00,
        0.00000e+00, 2.00000e-01]])

array([[8.00000e+01, 1.51590e+00, 1.28200e+01, ..., 7.97000e+00,
        0.00000e+00, 0.00000e+00],
       [1.62000e+02, 1.51934e+00, 1.36400e+01, ..., 8.89000e+00,
        1.50000e-01, 2.40000e-01],
       [1.10000e+02, 1.51818e+00, 1.37200e+01, ..., 1.09900e+01,
        0.00000e+00, 0.00000e+00],
       ...,
       [9.30000e+01, 1.51588e+00, 1.31200e+01, ..., 8.39000e+00,
        0.00000e+00, 1.90000e-01],
       [1.80000e+02, 1.51852e+00, 1.40900e+01, ..., 9.32000e+00,
        0.00000e+00, 0.00000e+00],
       [1.03000e+02, 1.51820e+00, 1.26200e+01, ..., 9.42000e+00,
        0.00000e+00, 2.00000e-01]])

In [14]:
X_test_imputed

array([[1.00000e+01, 1.51755e+00, 1.30000e+01, 3.60000e+00, 1.36000e+00,
        7.29900e+01, 5.70000e-01, 8.40000e+00, 0.00000e+00, 1.10000e-01],
       [1.98000e+02, 1.51727e+00, 1.47000e+01, 0.00000e+00, 2.34000e+00,
        7.32800e+01, 0.00000e+00, 8.95000e+00, 6.60000e-01, 0.00000e+00],
       [6.70000e+01, 1.52152e+00, 1.30500e+01, 3.65000e+00, 8.70000e-01,
        7.22200e+01, 1.90000e-01, 9.85000e+00, 0.00000e+00, 1.70000e-01],
       [1.92000e+02, 1.51602e+00, 1.48500e+01, 0.00000e+00, 2.38000e+00,
        7.32800e+01, 0.00000e+00, 8.76000e+00, 6.40000e-01, 9.00000e-02],
       [1.18000e+02, 1.51708e+00, 1.37200e+01, 3.68000e+00, 1.81000e+00,
        7.20600e+01, 6.40000e-01, 7.88000e+00, 0.00000e+00, 0.00000e+00],
       [1.12000e+02, 1.52739e+00, 1.10200e+01, 0.00000e+00, 7.50000e-01,
        7.30800e+01, 0.00000e+00, 1.49600e+01, 0.00000e+00, 0.00000e+00],
       [1.60000e+01, 1.51761e+00, 1.28100e+01, 3.54000e+00, 1.23000e+00,
        7.32400e+01, 5.80000e-01, 8.39000e+00, 0.00000e+00, 0.00000e+00],
       [8.70000e+01, 1.51569e+00, 1.32400e+01, 3.49000e+00, 1.47000e+00,
        7.32500e+01, 3.80000e-01, 8.03000e+00, 0.00000e+00, 0.00000e+00],
       [7.60000e+01, 1.51590e+00, 1.30200e+01, 3.58000e+00, 1.51000e+00,
        7.31200e+01, 6.90000e-01, 7.96000e+00, 0.00000e+00, 0.00000e+00],
       [1.45000e+02, 1.51660e+00, 1.29900e+01, 3.18000e+00, 1.23000e+00,
        7.29700e+01, 5.80000e-01, 8.81000e+00, 0.00000e+00, 2.40000e-01],
       [1.83000e+02, 1.51916e+00, 1.41500e+01, 0.00000e+00, 2.09000e+00,
        7.27400e+01, 0.00000e+00, 1.08800e+01, 0.00000e+00, 0.00000e+00],
       [1.71000e+02, 1.52369e+00, 1.34400e+01, 0.00000e+00, 1.58000e+00,
        7.22200e+01, 3.20000e-01, 1.22400e+01, 0.00000e+00, 0.00000e+00],
       [1.42000e+02, 1.51851e+00, 1.32000e+01, 3.63000e+00, 1.07000e+00,
        7.28300e+01, 5.70000e-01, 8.41000e+00, 9.00000e-02, 1.70000e-01],
       [7.40000e+01, 1.51631e+00, 1.33400e+01, 3.57000e+00, 1.57000e+00,
        7.28700e+01, 6.10000e-01, 7.89000e+00, 0.00000e+00, 0.00000e+00],
       [1.79000e+02, 1.51829e+00, 1.44600e+01, 2.24000e+00, 1.62000e+00,
        7.23800e+01, 0.00000e+00, 9.26000e+00, 0.00000e+00, 0.00000e+00],
       [1.68000e+02, 1.51969e+00, 1.26400e+01, 0.00000e+00, 1.65000e+00,
        7.37500e+01, 3.80000e-01, 1.15300e+01, 0.00000e+00, 0.00000e+00],
       [1.91000e+02, 1.51613e+00, 1.38800e+01, 1.78000e+00, 1.79000e+00,
        7.31000e+01, 0.00000e+00, 8.67000e+00, 7.60000e-01, 0.00000e+00],
       [1.90000e+01, 1.51911e+00, 1.39000e+01, 3.73000e+00, 1.18000e+00,
        7.21200e+01, 6.00000e-02, 8.89000e+00, 0.00000e+00, 0.00000e+00],
       [4.60000e+01, 1.51900e+00, 1.34900e+01, 3.48000e+00, 1.35000e+00,
        7.19500e+01, 5.50000e-01, 9.00000e+00, 0.00000e+00, 0.00000e+00],
       [1.85000e+02, 1.51115e+00, 1.73800e+01, 0.00000e+00, 3.40000e-01,
        7.54100e+01, 0.00000e+00, 6.65000e+00, 0.00000e+00, 0.00000e+00],
       [9.90000e+01, 1.51689e+00, 1.26700e+01, 2.88000e+00, 1.71000e+00,
        7.32100e+01, 7.30000e-01, 8.54000e+00, 0.00000e+00, 0.00000e+00],
       [2.10000e+02, 1.51623e+00, 1.41400e+01, 0.00000e+00, 2.88000e+00,
        7.26100e+01, 8.00000e-02, 9.18000e+00, 1.06000e+00, 0.00000e+00],
       [2.12000e+02, 1.52065e+00, 1.43600e+01, 0.00000e+00, 2.02000e+00,
        7.34200e+01, 0.00000e+00, 8.44000e+00, 1.64000e+00, 0.00000e+00],
       [1.96000e+02, 1.51545e+00, 1.41400e+01, 0.00000e+00, 2.68000e+00,
        7.33900e+01, 8.00000e-02, 9.07000e+00, 6.10000e-01, 5.00000e-02],
       [1.49000e+02, 1.51670e+00, 1.32400e+01, 3.57000e+00, 1.38000e+00,
        7.27000e+01, 5.60000e-01, 8.44000e+00, 0.00000e+00, 1.00000e-01],
       [1.05000e+02, 1.52410e+00, 1.38300e+01, 2.90000e+00, 1.17000e+00,
        7.11500e+01, 8.00000e-02, 1.07900e+01, 0.00000e+00, 0.00000e+00],
       [3.10000e+01, 1.51768e+00, 1.26500e+01, 3.56000e+00, 1.30000e+00,
        7.30800e+01, 6.10000e-01, 8.69000e+00, 0.00000e+00, 1.40000e-01],
       [2.60000e+01, 1.51764e+00, 1.29800e+01, 3.54000e+00, 1.21000e+00,
        7.30000e+01, 6.50000e-01, 8.53000e+00, 0.00000e+00, 0.00000e+00],
       [1.76000e+02, 1.52119e+00, 1.29700e+01, 3.30000e-01, 1.51000e+00,
        7.33900e+01, 1.30000e-01, 1.12700e+01, 0.00000e+00, 2.80000e-01],
       [1.70000e+01, 1.51784e+00, 1.26800e+01, 3.67000e+00, 1.16000e+00,
        7.31100e+01, 6.10000e-01, 8.70000e+00, 0.00000e+00, 0.00000e+00],
       [5.60000e+01, 1.51769e+00, 1.24500e+01, 2.71000e+00, 1.29000e+00,
        7.37000e+01, 5.60000e-01, 9.06000e+00, 0.00000e+00, 2.40000e-01],
       [1.39000e+02, 1.51674e+00, 1.27900e+01, 3.52000e+00, 1.54000e+00,
        7.33600e+01, 6.60000e-01, 7.90000e+00, 0.00000e+00, 0.00000e+00],
       [1.59000e+02, 1.51776e+00, 1.35300e+01, 3.41000e+00, 1.52000e+00,
        7.20400e+01, 5.80000e-01, 8.79000e+00, 0.00000e+00, 0.00000e+00],
       [9.40000e+01, 1.51590e+00, 1.32400e+01, 3.34000e+00, 1.47000e+00,
        7.31000e+01, 3.90000e-01, 8.22000e+00, 0.00000e+00, 0.00000e+00],
       [7.00000e+01, 1.52300e+00, 1.33100e+01, 3.58000e+00, 8.20000e-01,
        7.19900e+01, 1.20000e-01, 1.01700e+01, 0.00000e+00, 3.00000e-02],
       [2.04000e+02, 1.51658e+00, 1.48000e+01, 0.00000e+00, 1.99000e+00,
        7.31100e+01, 0.00000e+00, 8.28000e+00, 1.71000e+00, 0.00000e+00],
       [1.72000e+02, 1.51316e+00, 1.30200e+01, 0.00000e+00, 3.04000e+00,
        7.04800e+01, 6.21000e+00, 6.96000e+00, 0.00000e+00, 0.00000e+00],
       [1.53000e+02, 1.51779e+00, 1.36400e+01, 3.65000e+00, 6.50000e-01,
        7.30000e+01, 6.00000e-02, 8.93000e+00, 0.00000e+00, 0.00000e+00],
       [9.80000e+01, 1.51743e+00, 1.22000e+01, 3.25000e+00, 1.16000e+00,
        7.35500e+01, 6.20000e-01, 8.90000e+00, 0.00000e+00, 2.40000e-01],
       [8.50000e+01, 1.51409e+00, 1.42500e+01, 3.09000e+00, 2.08000e+00,
        7.22800e+01, 1.10000e+00, 7.08000e+00, 0.00000e+00, 0.00000e+00],
       [1.02000e+02, 1.51730e+00, 1.23500e+01, 2.72000e+00, 1.63000e+00,
        7.28700e+01, 7.00000e-01, 9.23000e+00, 0.00000e+00, 0.00000e+00],
       [2.01000e+02, 1.51508e+00, 1.51500e+01, 0.00000e+00, 2.25000e+00,
        7.35000e+01, 0.00000e+00, 8.34000e+00, 6.30000e-01, 0.00000e+00],
       [6.10000e+01, 1.51905e+00, 1.36000e+01, 3.62000e+00, 1.11000e+00,
        7.26400e+01, 1.40000e-01, 8.76000e+00, 0.00000e+00, 0.00000e+00]])

array([[1.00000e+01, 1.51755e+00, 1.30000e+01, 3.60000e+00, 1.36000e+00,
        7.29900e+01, 5.70000e-01, 8.40000e+00, 0.00000e+00, 1.10000e-01],
       [1.98000e+02, 1.51727e+00, 1.47000e+01, 0.00000e+00, 2.34000e+00,
        7.32800e+01, 0.00000e+00, 8.95000e+00, 6.60000e-01, 0.00000e+00],
       [6.70000e+01, 1.52152e+00, 1.30500e+01, 3.65000e+00, 8.70000e-01,
        7.22200e+01, 1.90000e-01, 9.85000e+00, 0.00000e+00, 1.70000e-01],
       [1.92000e+02, 1.51602e+00, 1.48500e+01, 0.00000e+00, 2.38000e+00,
        7.32800e+01, 0.00000e+00, 8.76000e+00, 6.40000e-01, 9.00000e-02],
       [1.18000e+02, 1.51708e+00, 1.37200e+01, 3.68000e+00, 1.81000e+00,
        7.20600e+01, 6.40000e-01, 7.88000e+00, 0.00000e+00, 0.00000e+00],
       [1.12000e+02, 1.52739e+00, 1.10200e+01, 0.00000e+00, 7.50000e-01,
        7.30800e+01, 0.00000e+00, 1.49600e+01, 0.00000e+00, 0.00000e+00],
       [1.60000e+01, 1.51761e+00, 1.28100e+01, 3.54000e+00, 1.23000e+00,
        7.32400e+01, 5.80000e-01, 8.39000e+00, 0.00000e+00, 0.00000e+00],
       [8.70000e+01, 1.51569e+00, 1.32400e+01, 3.49000e+00, 1.47000e+00,
        7.32500e+01, 3.80000e-01, 8.03000e+00, 0.00000e+00, 0.00000e+00],
       [7.60000e+01, 1.51590e+00, 1.30200e+01, 3.58000e+00, 1.51000e+00,
        7.31200e+01, 6.90000e-01, 7.96000e+00, 0.00000e+00, 0.00000e+00],
       [1.45000e+02, 1.51660e+00, 1.29900e+01, 3.18000e+00, 1.23000e+00,
        7.29700e+01, 5.80000e-01, 8.81000e+00, 0.00000e+00, 2.40000e-01],
       [1.83000e+02, 1.51916e+00, 1.41500e+01, 0.00000e+00, 2.09000e+00,
        7.27400e+01, 0.00000e+00, 1.08800e+01, 0.00000e+00, 0.00000e+00],
       [1.71000e+02, 1.52369e+00, 1.34400e+01, 0.00000e+00, 1.58000e+00,
        7.22200e+01, 3.20000e-01, 1.22400e+01, 0.00000e+00, 0.00000e+00],
       [1.42000e+02, 1.51851e+00, 1.32000e+01, 3.63000e+00, 1.07000e+00,
        7.28300e+01, 5.70000e-01, 8.41000e+00, 9.00000e-02, 1.70000e-01],
       [7.40000e+01, 1.51631e+00, 1.33400e+01, 3.57000e+00, 1.57000e+00,
        7.28700e+01, 6.10000e-01, 7.89000e+00, 0.00000e+00, 0.00000e+00],
       [1.79000e+02, 1.51829e+00, 1.44600e+01, 2.24000e+00, 1.62000e+00,
        7.23800e+01, 0.00000e+00, 9.26000e+00, 0.00000e+00, 0.00000e+00],
       [1.68000e+02, 1.51969e+00, 1.26400e+01, 0.00000e+00, 1.65000e+00,
        7.37500e+01, 3.80000e-01, 1.15300e+01, 0.00000e+00, 0.00000e+00],
       [1.91000e+02, 1.51613e+00, 1.38800e+01, 1.78000e+00, 1.79000e+00,
        7.31000e+01, 0.00000e+00, 8.67000e+00, 7.60000e-01, 0.00000e+00],
       [1.90000e+01, 1.51911e+00, 1.39000e+01, 3.73000e+00, 1.18000e+00,
        7.21200e+01, 6.00000e-02, 8.89000e+00, 0.00000e+00, 0.00000e+00],
       [4.60000e+01, 1.51900e+00, 1.34900e+01, 3.48000e+00, 1.35000e+00,
        7.19500e+01, 5.50000e-01, 9.00000e+00, 0.00000e+00, 0.00000e+00],
       [1.85000e+02, 1.51115e+00, 1.73800e+01, 0.00000e+00, 3.40000e-01,
        7.54100e+01, 0.00000e+00, 6.65000e+00, 0.00000e+00, 0.00000e+00],
       [9.90000e+01, 1.51689e+00, 1.26700e+01, 2.88000e+00, 1.71000e+00,
        7.32100e+01, 7.30000e-01, 8.54000e+00, 0.00000e+00, 0.00000e+00],
       [2.10000e+02, 1.51623e+00, 1.41400e+01, 0.00000e+00, 2.88000e+00,
        7.26100e+01, 8.00000e-02, 9.18000e+00, 1.06000e+00, 0.00000e+00],
       [2.12000e+02, 1.52065e+00, 1.43600e+01, 0.00000e+00, 2.02000e+00,
        7.34200e+01, 0.00000e+00, 8.44000e+00, 1.64000e+00, 0.00000e+00],
       [1.96000e+02, 1.51545e+00, 1.41400e+01, 0.00000e+00, 2.68000e+00,
        7.33900e+01, 8.00000e-02, 9.07000e+00, 6.10000e-01, 5.00000e-02],
       [1.49000e+02, 1.51670e+00, 1.32400e+01, 3.57000e+00, 1.38000e+00,
        7.27000e+01, 5.60000e-01, 8.44000e+00, 0.00000e+00, 1.00000e-01],
       [1.05000e+02, 1.52410e+00, 1.38300e+01, 2.90000e+00, 1.17000e+00,
        7.11500e+01, 8.00000e-02, 1.07900e+01, 0.00000e+00, 0.00000e+00],
       [3.10000e+01, 1.51768e+00, 1.26500e+01, 3.56000e+00, 1.30000e+00,
        7.30800e+01, 6.10000e-01, 8.69000e+00, 0.00000e+00, 1.40000e-01],
       [2.60000e+01, 1.51764e+00, 1.29800e+01, 3.54000e+00, 1.21000e+00,
        7.30000e+01, 6.50000e-01, 8.53000e+00, 0.00000e+00, 0.00000e+00],
       [1.76000e+02, 1.52119e+00, 1.29700e+01, 3.30000e-01, 1.51000e+00,
        7.33900e+01, 1.30000e-01, 1.12700e+01, 0.00000e+00, 2.80000e-01],
       [1.70000e+01, 1.51784e+00, 1.26800e+01, 3.67000e+00, 1.16000e+00,
        7.31100e+01, 6.10000e-01, 8.70000e+00, 0.00000e+00, 0.00000e+00],
       [5.60000e+01, 1.51769e+00, 1.24500e+01, 2.71000e+00, 1.29000e+00,
        7.37000e+01, 5.60000e-01, 9.06000e+00, 0.00000e+00, 2.40000e-01],
       [1.39000e+02, 1.51674e+00, 1.27900e+01, 3.52000e+00, 1.54000e+00,
        7.33600e+01, 6.60000e-01, 7.90000e+00, 0.00000e+00, 0.00000e+00],
       [1.59000e+02, 1.51776e+00, 1.35300e+01, 3.41000e+00, 1.52000e+00,
        7.20400e+01, 5.80000e-01, 8.79000e+00, 0.00000e+00, 0.00000e+00],
       [9.40000e+01, 1.51590e+00, 1.32400e+01, 3.34000e+00, 1.47000e+00,
        7.31000e+01, 3.90000e-01, 8.22000e+00, 0.00000e+00, 0.00000e+00],
       [7.00000e+01, 1.52300e+00, 1.33100e+01, 3.58000e+00, 8.20000e-01,
        7.19900e+01, 1.20000e-01, 1.01700e+01, 0.00000e+00, 3.00000e-02],
       [2.04000e+02, 1.51658e+00, 1.48000e+01, 0.00000e+00, 1.99000e+00,
        7.31100e+01, 0.00000e+00, 8.28000e+00, 1.71000e+00, 0.00000e+00],
       [1.72000e+02, 1.51316e+00, 1.30200e+01, 0.00000e+00, 3.04000e+00,
        7.04800e+01, 6.21000e+00, 6.96000e+00, 0.00000e+00, 0.00000e+00],
       [1.53000e+02, 1.51779e+00, 1.36400e+01, 3.65000e+00, 6.50000e-01,
        7.30000e+01, 6.00000e-02, 8.93000e+00, 0.00000e+00, 0.00000e+00],
       [9.80000e+01, 1.51743e+00, 1.22000e+01, 3.25000e+00, 1.16000e+00,
        7.35500e+01, 6.20000e-01, 8.90000e+00, 0.00000e+00, 2.40000e-01],
       [8.50000e+01, 1.51409e+00, 1.42500e+01, 3.09000e+00, 2.08000e+00,
        7.22800e+01, 1.10000e+00, 7.08000e+00, 0.00000e+00, 0.00000e+00],
       [1.02000e+02, 1.51730e+00, 1.23500e+01, 2.72000e+00, 1.63000e+00,
        7.28700e+01, 7.00000e-01, 9.23000e+00, 0.00000e+00, 0.00000e+00],
       [2.01000e+02, 1.51508e+00, 1.51500e+01, 0.00000e+00, 2.25000e+00,
        7.35000e+01, 0.00000e+00, 8.34000e+00, 6.30000e-01, 0.00000e+00],
       [6.10000e+01, 1.51905e+00, 1.36000e+01, 3.62000e+00, 1.11000e+00,
        7.26400e+01, 1.40000e-01, 8.76000e+00, 0.00000e+00, 0.00000e+00]])

# Train a RandomForestClassifier:

In [15]:
rf_classifier = RandomForestClassifier(random_state=42)
rf_classifier.fit(X_train_imputed, y_train)

RandomForestClassifier(random_state=42)

RandomForestClassifier(random_state=42)

# Make predictions:

In [16]:
y_pred = rf_classifier.predict(X_test_imputed)

In [17]:
y_pred

array([1, 7, 1, 7, 2, 2, 1, 2, 2, 2, 6, 5, 2, 2, 6, 5, 7, 1, 1, 6, 2, 7,
       7, 7, 3, 2, 1, 1, 5, 1, 1, 2, 3, 2, 1, 7, 5, 3, 2, 2, 2, 7, 1],
      dtype=int64)

array([1, 7, 1, 7, 2, 2, 1, 2, 2, 2, 6, 5, 2, 2, 6, 5, 7, 1, 1, 6, 2, 7,
       7, 7, 3, 2, 1, 1, 5, 1, 1, 2, 3, 2, 1, 7, 5, 3, 2, 2, 2, 7, 1],
      dtype=int64)

# Evaluate the model:

In [18]:
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 1.00
Accuracy: 1.00

# Display classification report:

In [19]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00        11
           2       1.00      1.00      1.00        14
           3       1.00      1.00      1.00         3
           5       1.00      1.00      1.00         4
           6       1.00      1.00      1.00         3
           7       1.00      1.00      1.00         8

    accuracy                           1.00        43
   macro avg       1.00      1.00      1.00        43
weighted avg       1.00      1.00      1.00        43

              precision    recall  f1-score   support

           1       1.00      1.00      1.00        11
           2       1.00      1.00      1.00        14
           3       1.00      1.00      1.00         3
           5       1.00      1.00      1.00         4
           6       1.00      1.00      1.00         3
           7       1.00      1.00      1.00         8

    accuracy                           1.00        43
   macro avg       1.00      1.00      1.00        43
weighted avg       1.00      1.00      1.00        43

# Use GridSearchCV for hyperparameter tuning:

In [20]:
param_grid = {
    'n_estimators': [50, 100, 150],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]}
param_grid

{'n_estimators': [50, 100, 150],
 'max_depth': [None, 10, 20, 30],
 'min_samples_split': [2, 5, 10],
 'min_samples_leaf': [1, 2, 4]}

{'n_estimators': [50, 100, 150],
 'max_depth': [None, 10, 20, 30],
 'min_samples_split': [2, 5, 10],
 'min_samples_leaf': [1, 2, 4]}

In [21]:
grid_search = GridSearchCV(estimator=RandomForestClassifier(random_state=42),
                           param_grid=param_grid,
                           cv=5, n_jobs=-1, verbose=2)

grid_search.fit(X_train_imputed, y_train)

Fitting 5 folds for each of 108 candidates, totalling 540 fits
Fitting 5 folds for each of 108 candidates, totalling 540 fits

GridSearchCV(cv=5, estimator=RandomForestClassifier(random_state=42), n_jobs=-1,
             param_grid={'max_depth': [None, 10, 20, 30],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 5, 10],
                         'n_estimators': [50, 100, 150]},
             verbose=2)

GridSearchCV(cv=5, estimator=RandomForestClassifier(random_state=42), n_jobs=-1,
             param_grid={'max_depth': [None, 10, 20, 30],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 5, 10],
                         'n_estimators': [50, 100, 150]},
             verbose=2)

# Get the best model from grid search:

In [22]:
best_rf_model = grid_search.best_estimator_
best_rf_model

RandomForestClassifier(random_state=42)

RandomForestClassifier(random_state=42)

# Display the best hyperparameters:

In [23]:
print("Best Hyperparameters:", grid_search.best_params_)

Best Hyperparameters: {'max_depth': None, 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 100}
Best Hyperparameters: {'max_depth': None, 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 100}

# Evaluate the best model on the test set:

In [24]:
y_pred_best_model = best_rf_model.predict(X_test_imputed)
accuracy_best_model = accuracy_score(y_test, y_pred_best_model)
print(f"Accuracy of the Best Model: {accuracy_best_model:.2f}")

Accuracy of the Best Model: 1.00
Accuracy of the Best Model: 1.00

# Predict the type of glass:

#  Sample values for a new observation:

In [25]:
new_observation_values = [215, 1.515, 12.7, 3.5, 1.2, 73.1, 0.6, 8.8, 0.0, 0.0]

# Create a DataFrame for the new observation:

In [26]:
new_observation = pd.DataFrame([new_observation_values], columns=['Id', 'RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe'])

# Handle missing values in the new observation using the same imputer:

In [27]:
new_observation_imputed = imputer.transform(new_observation)

# Predict the type of glass for the new observation using the best model:

In [28]:
predicted_class = best_rf_model.predict(new_observation_imputed)[0]
print(f"Predicted Glass Type for the New Observation: {predicted_class}")

Predicted Glass Type for the New Observation: 3
Predicted Glass Type for the New Observation: 3

In [29]:
################################################THANK YOU######################################################################